@font-face
{
    font-family:GilroyLight;
    src: url('../fonts/Gilroy-Light.otf');
}

.content > * {
	margin-left:  auto;
	margin-right: auto;
}

.siteINPN {
  text-transform: uppercase;
  font-size: 15px;
  font-family: GilroyLight;
}
