#connexion > .content > form > * {
	width: 100%;
}

#separator {
	border-left: 1px solid #aaa;
	width: 0;
	margin: 20px 0;
}

#connexion {
	width:40%;
}

#inscription {
	width: 60%;
}

a.bouton {
	text-decoration: none;
	text-align: center;
}

main div form > * {
	box-sizing: border-box;
}

.container div form p:first-of-type {
	margin-top: 0
}

p.erreur {
	border: 1px solid #e70000;
	border-radius:8px;
	background-color: #ffdddd;
	color: #e70000;
	padding: 12px;
}
