.boite form {
	display: flex;
	justify-content: space-between;
}

.boite > .content > form > div > * {
	width: 100%;
	box-sizing: border-box;
}

#left, #right {
	width: 50%;
}

#separator {
	border-left: 1px solid #aaa;
	width: 0;
	margin: 0 25px;
	flex-grow: 0;
}

main div form > * {
	box-sizing: border-box;
}

p.erreur {
	border: 1px solid #e70000;
	border-radius:8px;
	background-color: #ffdddd;
	color: #e70000;
	padding: 12px;
}