@font-face
{
    font-family:GilroyExtraBold;
    src: url('../fonts/Gilroy-ExtraBold.otf');
}

.titreMeteo {
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
}

.dataMeteo {
  color: #666;
  font-weight: normal;
}

.dataMeteo > .date {
  font-size: 10px;
}
