table tr:first-child > th:first-child {
	border: 0;
}

.boite > h2 > a {
	text-decoration: none;
	color: black;
}

.boite > h2 > a::after {
	content:"";
	background-image: url(../img/lienInterneIcone.png);
	display: inline-block;
	background-size: 25px;
	height: 25px;
	width: 25px;
	vertical-align: baseline;
	margin-left: 5px;
}

.boite > h2 > a:hover {
	text-decoration: underline;
}

.boite > h2 > a > img {
	height: 25px;
	padding-left: 10px;
}

.content > * {
	margin-left:  auto;
	margin-right: auto;
}

.boite:not(:last-child) {
	margin-bottom: 0;
}

.container {
	flex-direction: column;
}
