@font-face
{
    font-family:GilroyLight;
    src: url('../fonts/Gilroy-Light.otf');
}

#recherche {
	width: 50%;
	align-self:flex-start;
}

.boite > .content > form > * {
	width: 100%;
	box-sizing: border-box;

}

.select2-results__options {
    font-family: GilroyLight,Arial,sans-serif;
}


#or {
    position:relative;
    z-index:0;
    text-align:center;
    margin: 30px 0;
}

#or hr {
    position:absolute;
    width:100%;
    margin:0;
    top:0.5em;
    z-index: -1;
}

#or span {
    background-color:#fff;
    padding: 0 5px;    
}

.logos {
	/*padding: 25px;*/
	/*background-color: white;*/
	border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.logos > a {
    margin: 20px;
    display: inline-block;
}

.logos > a > img {
    height: 75px;
}

.rightPan > p {
    font-family: GilroyLight, sans-serif;
    color: rgb(35,31,32);
    font-weight: bold;
    font-size: 25px;
    margin-top: 0;
    text-align: center;
}

.rightPan{
    margin: 50px;
    width: 50%;
}