table {
	font-size: 18px;
	border-collapse: collapse;
	caption-side: bottom;
}

table > caption {
	padding-top: 5px;
	text-align: left;
	font-style: italic;
}

table tr > * {
	padding: 6px;
	border: solid rgb(35,31,32) 1px;
	text-align: center;
}

table tr:not(:first-child) > th:first-child {
	text-align: left;
}

table td {
	white-space:pre;
}