@font-face
{
    font-family:GilroyLight;
    src: url('../fonts/Gilroy-Light.otf');
}

@font-face
{
    font-family:GilroyExtraBold;
    src: url('../fonts/Gilroy-ExtraBold.otf');
}

@font-face
{
	font-family: GaramondRegular;
	src: url('../fonts/AGaramondPro-Regular.otf');
}

header {
	background-color: rgb(35,31,32);
	display: flex;
	justify-content: space-between;
	height: calc( 15vw  / 1270 * 262 + 30px);
	position: fixed;
	width: 100%;
	top: 0;
}

header > * {
	display: inline-block;
}

body {
	margin: 0;
	background-color: #E5E5E5;
	height: 100vh;
    overflow:hidden;
}

header > #logo_lien {
	margin: 15px 20px;
	flex-basis: 15%;
}

#logo {
	width: 100%;
}

#header_bouton {
	border: 3px white solid;
	background-color: rgb(35,31,32);
	padding: 0 18px;
	align-items: center;
	color: white;
	font-weight: bold;
	font-size: 15px;
	border-radius: 8px;
	transition: background-color 0.3s;
	font-family: GilroyLight, sans-serif;
	text-decoration: none;
	margin: 15px 20px;
	vertical-align: middle;
	position: relative;
	display: flex;
}

#header_bouton > span {
	display: inline-block;
}

#header_bouton:hover {
	color: rgb(35,31,32);
	background-color: white;
}

#menu {
	position:fixed;
	background-color: #FFF;
	top: calc( 15vw  / 1270 * 262 + 30px);
    width:calc(15% + 40px);
    height: calc(100vh - 15vw * 0.15 / 1270 * 262 - 30px);
	box-sizing: border-box;
	font-family: GilroyLight,sans-serif;
	font-weight: bold;
	color: rgb(35,31,32);
	font-size: 20px;
}

#menu li > a > * {
    vertical-align : middle;
}

#menu ul {
	/*padding-top: 15px;*/
	list-style-type: none;
	padding: 0 25px;
}

#menu img {
	height: 18px;
	margin-right: 8px;
	width: 18px;
}

#menu ul li {
	margin-bottom: 25px;
}

#cadre {
	margin-top:calc( 15vw  / 1270 * 262 + 30px);
   	margin-left: calc(15% + 40px);
   	overflow-y:auto;
    height: calc(100vh - ( 15vw / 1270 * 262) - 30px);
    width:calc(100vw * 0.85 - 40px);
   	display: flex;
   	flex-direction: column;
}

#cadre > footer {
	background-color: rgb(35,31,32);
	padding: 15px;
	flex-shrink: 0;
}

#cadre > footer > nav {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
}

#cadre > footer > nav > a {
	margin: 15px;
	display: inline-block;
}

#cadre > footer > nav > a > img {
	height: 60px;
}

#cadre > main {
	flex-grow: 1;
}

footer {
	display: flex;
}

.footer_infos {
	border-left: solid white 1px;
	padding-left: 20px
}

.footer_infos > p > a, .footer_infos > p {
	text-decoration: none;
	color: white;
	font-family: GilroyLight, sans-serif;
}

.footer_infos > a:hover {
	text-decoration: underline;
}


/* A COMPLETER */

main .container {
	display: flex;
	justify-content: center;
}

.boite > h2 {
	margin: 0;
	background-color: #F8F8F8;
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid #E5E5E5;
	color: rgb(35,31,32);
	font-size: 35px;
	border-radius: 8px 8px 0 0;
}

.boite {
	margin: 50px;
	display: flex;
	flex-direction: column;
}

.boite > .content, .boite > h2 {
	font-family: GilroyLight,sans-serif;
}

.boite > .boiteBottom {
	display: block;
	width: 100%;

}

.boite > .content {
	padding: 30px 25px;
	font-weight: bold;
	background-color: #FFF;
	font-size: 20px;
	flex-grow: 1;
	text-align: center;
}

.boite > .content > * {
	text-align: initial;
}

.boite > .boiteBottom {
	border: none;
	background-color: rgb(18,132,150);
	padding: 18px;
	box-sizing: border-box;
	color: white;
	font-weight: bold;
	font-size: 24px;
	border-radius: 0 0 8px 8px;
	transition: background-color 0.1s;
	display: block;
	width: 100%;
	font-family: Arial,sans-serif;
}

.boite > .boiteBottom:hover {
	background-color: rgb(38,162,180);
	cursor: pointer;
}

.boite input {
	padding:10px;
}

a.bouton {
	text-decoration: none;
	text-align: center;
}

.boite > .content p {
	text-align: justify;
}

.content :first-child {
	margin-top: 0
}

.petitBouton {
	text-decoration: none;
	color: #FFF;
	text-align: center;
	display: inline-block;
	border: 1px solid;
	background-color: rgb(18,132,150);
	border-radius: 8px;
	padding: 12px 15px;
	transition: background-color 0.1s;
}

.petitBouton:hover {
	background-color: rgb(38,162,180);
}

/* LIENS */


.nomVille {
	color: rgb(18,132,150);
}

#menu a:link, #menu a:visited {
	color: rgb(35,31,32);
	text-decoration: none;
}

#menu a:hover, #menu a.ongletActif {
	color: rgb(18,132,150);
}
